body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1353px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1353px;
  height:1982px;
  overflow:hidden;
}
#u5413_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1353px;
  height:1982px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u5413_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:583px;
}
#u5414 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:0px;
  width:806px;
  height:583px;
}
#u5415 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:284px;
  width:802px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:565px;
}
#u5416 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:584px;
  width:806px;
  height:565px;
}
#u5417 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:274px;
  width:802px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:568px;
}
#u5418 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:1122px;
  width:810px;
  height:568px;
}
#u5419 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:792px;
  height:540px;
}
#u5420 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:1616px;
  width:792px;
  height:540px;
}
#u5421 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:262px;
  width:788px;
  visibility:hidden;
  word-wrap:break-word;
}
