body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1760px;
  height:80px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:1760px;
  height:80px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:70px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:8px;
  width:362px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:358px;
  word-wrap:break-word;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:9px;
  width:66px;
  height:66px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:1520px;
  top:27px;
  width:32px;
  height:32px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:1520px;
  top:15px;
  width:130px;
  height:60px;
  color:#FFFFFF;
  line-height:24px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:126px;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:1628px;
  top:27px;
  width:28px;
  height:28px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:400px;
  width:300px;
  height:170px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:68px;
  width:296px;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:400px;
  width:300px;
  height:170px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:68px;
  width:296px;
  word-wrap:break-word;
}
#u70 {
  position:fixed;
  right:0px;
  bottom:0px;
  width:765px;
  height:490px;
  overflow:hidden;
}
#u70_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:765px;
  height:490px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u70_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:413px;
  width:251px;
  height:39px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:418px;
  width:28px;
  height:28px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:418px;
  width:50px;
  height:30px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:419px;
  width:50px;
  height:30px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:419px;
  width:28px;
  height:28px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:765px;
  height:490px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u70_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:476px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:7px;
  width:757px;
  height:476px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:230px;
  width:753px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:23px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:18px;
  width:90px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:2px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:44px;
  width:669px;
  height:1px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:665px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:68px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:71px;
  width:669px;
  height:68px;
  text-align:left;
  line-height:28px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:665px;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:68px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:152px;
  width:669px;
  height:68px;
  text-align:left;
  line-height:28px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:665px;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:68px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:235px;
  width:669px;
  height:68px;
  text-align:left;
  line-height:28px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:665px;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:68px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:319px;
  width:669px;
  height:68px;
  color:#FF0000;
  text-align:left;
  line-height:28px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:665px;
  word-wrap:break-word;
}
#u70_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:765px;
  height:490px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u70_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u97_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:376px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:7px;
  width:544px;
  height:376px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:180px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:2px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:44px;
  width:478px;
  height:1px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:31px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:12px;
  width:85px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:31px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:76px;
  width:294px;
  height:31px;
  text-align:left;
  line-height:28px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:290px;
  word-wrap:break-word;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:31px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:131px;
  width:294px;
  height:31px;
  text-align:left;
  line-height:28px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:290px;
  word-wrap:break-word;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:31px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:189px;
  width:294px;
  height:31px;
  text-align:left;
  line-height:28px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:290px;
  word-wrap:break-word;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:31px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:243px;
  width:294px;
  height:31px;
  text-align:left;
  line-height:28px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:290px;
  word-wrap:break-word;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:31px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:298px;
  width:294px;
  height:31px;
  text-align:left;
  line-height:28px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:290px;
  word-wrap:break-word;
}
