body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:833px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:99px;
  width:598px;
  height:121px;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:42px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:105px;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:42px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:0px;
  width:484px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:480px;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:74px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:109px;
  height:74px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:105px;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:74px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:42px;
  width:484px;
  height:74px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:480px;
  word-wrap:break-word;
}
